<table class="ui table" style="width:500px">
<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <tr>
      <th> <%= form.label :Maker %></th>
      <td>
        <div class="ui fluid input">
        <%= form.text_field :Maker %>
        </div>
      </td>
  </tr>
  <tr>
    <th><%= form.label :Model %></th>
    <td>
      <div class="ui fluid input">
      <%= form.text_field :Model %>
      </div>
    </td>
  </tr>
  <tr>
    <th> <%= form.label :ModelCode %></th>
    <td>
      <div class="ui fluid input">
      <%= form.text_field :ModelCode %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= form.label :ProductType %></th>
    <td>
      <div class="ui input">
      <%= form.text_field :ProductType %>
      </div>
    </td>
  </tr>
  <tr>
    <th></th>
    <td>
      <div class="ui input"></div>
    </td>
</tr>

  <tfoot class="full-width">
    <tr>
      <th>
        <div class="actions">
        <%= form.submit "登録", class:"ui primary button" %>
        </div>
      </th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% end %>
