<!DOCTYPE html>
<html>
  <head>
    <title>RailsMySQLSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted large menu">
      <a class="item" href="/css/bootstrap/">
        Bootstrap
      </a>
      <a class="orange item active">
        Semantic UI
      </a>
    </div></br></br></br>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
